/* ---------------- Шрифты --------------- */
@font-face{ 
	font-family: 'RobotoH1';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face{ 
	font-family: 'RobotoH2';
	src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face{ 
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/* ---------------- Базовые стили --------------- */
html {
  min-height: 100%;
}

body {
  background: #edecea;
  width: 976px;
  margin: 0 auto;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
}

h1 {
  color: #222;
  font-family: 'RobotoH1', Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: #aaa; 
  font-family: 'RobotoH2', Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bold; 
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

aside {
  background: #e4e4e4;
  border-radius: 0px 12px 12px 0px;
  padding: 0px 0px 8px 5px;
  position: absolute;
  border-left: #AAA 8px solid;
  right: 0px;
  width: 100px;
}

aside:before {
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  content: "“";
  display: block;
  height: 20px;  
  margin-left: -.75em;
}

figure {
  margin: 0px;
  padding: 0px;
}
